.App {
  background-color: #FEFF01;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.section {
  width: 60%;
  text-align: justify;
  align-items: center;
  margin: 1em 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.hero {
  margin: 2em 0 0 0;
}

.content {
  width: 100%;
  align-items: flex-start;
}

.education {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.profile-pic-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  height: 30vmin;
  pointer-events: none;
  border-radius: 50%;
  border: 3px solid #FF1D5C;
}

.section h1 {
  margin: 1em 0 0 0;
  padding: 0;
  color: #FF1D5C;
}

.section h2 {
  margin: 0.5em 0 0 0;
  padding: 0;
  color: #FF1D5C;
}

.section p {
  margin: 0.25em 0 0 0;
  padding: 0;
}

.section-item {
  width: 100%;
  margin: 0.5em 0 0 0;
  background-color: #FEFF01;
  border: 3px solid #FF1D5C;
  border-radius: 20px;
  box-shadow: 8px 8px #00fff7;
}

.section-item-child {
  padding: 0.5em 1em;
}

.first-child {
  margin: 0.5em 0.1em 0 0;
  width: 33%;
}

.middle-child {
  margin: 0.5em 0.1em 0 0.1em;
  width: 33%;
}

.last-child {
  margin: 0.5em 0 0 0.1em;
  width: 33%;
}

.section-item h3 {
  text-align: left;
  color: #FF1D5C;
  margin: 0;
  padding: 0;
}

.section-item p {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}
.media {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1em 0 3em 0;
}

.social-media-logo {
  height: 10vmin;
  pointer-events: none;
}

.grow-10 {
  transition: all .2s ease-in-out;
}

.grow-10:hover {
  transform: scale(1.10);
}

.grow-25 {
  transition: all .2s ease-in-out;
}

.grow-25:hover {
  transform: scale(1.25);
}

@media (max-width: 965px) {
  .education {
    flex-direction: column;
    justify-content: center;
  }
  .section {
    width: 80%;
  }
  .first-child {
    width: 100%;
    margin: 1em 0 0 0;
  }
  
  .middle-child {
    width: 100%;
    margin:  1em 0 0 0;
  }
  
  .last-child {
    width: 100%;
    margin:  1em 0 0 0;
  }
}
