.App {
  text-align: center;
  background-color: #011796;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.section {
  width: 60%;
  text-align: justify;
  align-items: center;
  margin: 1em 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.hero {
  margin: 2em 0 0 0;
}

.content {
  width: 100%;
  align-items: flex-start;
}

.education {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.profile-pic-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  height: 30vmin;
  pointer-events: none;
  border-radius: 50%;
  border: 3px solid gold;
}

.section h1 {
  margin: 1em 0 0 0;
  padding: 0;
  color: gold;
}

.section h2 {
  margin: 0.5em 0 0 0;
  padding: 0;
  color: gold;
}

.section p {
  margin: 0.25em 0 0 0;
  padding: 0;
}

.section-item {
  width: 100%;
  margin: 0.5em 0 0 0;
  background-color: #031eb6;
  border-radius: 20px;
  box-shadow: 10px 10px rgba(0,0,0,0.6);
}

.section-item-child {
  padding: 0.5em 1em;
}

.first-child {
  margin: 0.5em 0.1em 0 0;
  width: 33%;
}

.middle-child {
  margin: 0.5em 0.1em 0 0.1em;
  width: 33%;
}

.last-child {
  margin: 0.5em 0 0 0.1em;
  width: 33%;
}

.section-item h3 {
  text-align: left;
  color: gold;
  margin: 0;
  padding: 0;
}

.section-item p {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}
.media {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1em 0 3em 0;
}

.social-media-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (max-width: 965px) {
  .education {
    flex-direction: column;
    justify-content: center;
  }
  .section {
    width: 80%;
  }
  .first-child {
    width: 100%;
    margin: 1em 0 0 0;
  }
  
  .middle-child {
    width: 100%;
    margin:  1em 0 0 0;
  }
  
  .last-child {
    width: 100%;
    margin:  1em 0 0 0;
  }
}
