@font-face {
  font-family: BlenderProBold;
  src: url(./fonts/Blender-Pro-Bold.ttf);
}

@font-face {
  font-family: BlenderProBook;
  src: url(./fonts/Blender-Pro-Book.ttf);
}

.App {
  background-color: #000000;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  font-family: BlenderProBook,sans-serif;
  color: #fff;
}

h1, h2, h3 {
  font-family: BlenderProBold,sans-serif;
}

.section {
  width: 60%;
  text-align: justify;
  align-items: center;
  margin: 1em 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.hero {
  margin: 2em 0 0 0;
}

.content {
  align-items: flex-start;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.education {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.profile-pic-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  height: 30vmin;
  pointer-events: none;
  border-radius: 50%;
  border: 3px solid #FF003C;
}

.section h1 {
  margin: 1em 0 0 0;
  padding: 0;
  color: #FF003C;
}

.section h2 {
  margin: 0.5em 0 0.5em 0;
  padding: 0;
  color: #FF003C;
}

.section p {
  margin: 0.25em 0 0 0;
  padding: 0;
}

.section-item {
  background-color: #000000;
  border: 1px solid #FF003C;
  border-radius: 20px;
  width: 100%;
  box-shadow: 8px 8px #04DAF6;
}

.section-item-child {
  padding: 0.5em 1em;
}

.first-child {
  margin: 0.5em 0.1em 0 0;
  width: 33%;
  height: 22vh;
}

.middle-child {
  margin: 0.5em 0.1em 0 0.1em;
  width: 33%;
  height: 22vh;
}

.last-child {
  margin: 0.5em 0 0 0.1em;
  width: 33%;
  height: 22vh;
}

.section-item h3 {
  text-align: left;
  color: #FF003C;
  margin: 0.5em 0;
  padding: 0;
}

.section-item p {
  font-size: 0.8em;
  margin: 0 0 0.6em 0;
  padding: 0;
}
.media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 1em 0 3em 0;
}

.social-media-logo {
  height: 10vmin;
  pointer-events: none;
}

.githubLogoImg {
  width: 60px;
  height: 60px;
}

.instagramLogoImg {
  width: 50px;
  height: 50px;
}

.linkedinLogoImg {
  width: 45px;
  height: 45px;
}

.youtubeLogoImg {
  width: 70px;
  height: 70px;
}

.grow-10 {
  transition: all .2s ease-in-out;
}

.grow-10:hover {
  transform: scale(1.01);
  box-shadow: 8px 8px #04DAF6;
}

.grow-25 {
  transition: all .2s ease-in-out;
}

.grow-25:hover {
  transform: scale(1.25);
}

.IntlButtonContainer {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;

}

.IntlButton {
  background-color: transparent;
  border: none;
  width: 6%;
  margin-top: 2%;
}

.unselected {
  opacity: 0.5;
}

.flag {
  min-width: 100%;
  width: 100%;
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@media (max-width: 965px) {

  .App {
    font-size: calc(11px + 2vmin);
  }

  .IntlButton {
    background-color: transparent;
    border: none;
    width: 15%;
    margin: 2% 1%
  }

  .zoom:hover {
    transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .hero {
    margin: 0;
  }

  .education {
    flex-direction: column;
    justify-content: center;
  }

  .section {
    width: 80%;
  }

  .first-child {
    width: 100%;
    margin: 1em 0 0 0;
    height: auto;
  }
  
  .middle-child {
    width: 100%;
    margin:  1em 0 0 0;
    height: auto;
  }
  
  .last-child {
    width: 100%;
    margin:  1em 0 0 0;
    height: auto;
  }
}

